/** @format */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.section-title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 78px;
  text-align: center;
  color: #094989;
}
.text-sumary {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #292b33;
}
.btn-hiring {
  margin-top: 20px;
  width: 140px;
  height: 45px;
  font-size: 17px;
  border-radius: 25px;
  border: 3px solid #fdb31c;
  color: #094989;
  font-weight: 700;
}

.area-padding-top {
  padding-top: 50px;
}
